
.fir-app-home-back-topleft {
    position: absolute;
    top: 0;
    left: 0;
    width: 8rem;
    height: 32rem;
}

.fir-app-home-back-botleft {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10rem;
    height: 10rem;
}


.fir-app-home-back-botright {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4rem;
    height: 32rem;
}


.fir-app-home-back-topright {
    position: absolute;
    top: 2rem;
    right: 0;
    width: 6rem;
    height: 24rem;
}

.fir-app-home-back-botleft-mobile {
    display: none;
}

.fir-app-home-back-topright-mobile {
    display: none;
}

@media (max-width:480px) {

    .fir-app-home-back-topleft {
        margin-left: -3rem;
    }

    .fir-app-home-back-botleft {
        display: none;
    }

    .fir-app-home-back-botleft-mobile {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 10rem;
        height: 10rem;
    }

    .fir-app-home-back-topright {
        display: none;
    }

    .fir-app-home-back-topright-mobile {
        display: block;
        position: absolute;
        top: 2rem;
        right: 0;
        width: 8rem;
        height: 24rem;
    }

    .fir-app-home-back-botright {
        margin-bottom: -14rem;
        margin-right: -2.5rem;
        height: 42rem;
        width: 6rem;
    }

}
