.fir-app-home {
    position: relative;
    flex: 1;
    background-color: #4751C0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:480px) {
    .fir-app-home {
        height: calc(var(--vh, 1vh) * 100);
        overflow: scroll;
    }
}

.fir-app-home-container {
    justify-content: space-between;
    height: inherit;
}

.fir-app-home-top {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: -6rem;
}


@media (max-width:480px) {
    .fir-app-home-top {
        /*padding-top: 12rem;*/
        margin: auto;
    }
}

.fir-app-home-top-text {
    font-weight: 700;
    font-size: 3rem;
    color: white;
    text-align: center;
}

.fir-app-home-top-logo {
    width: 52rem;
    height: 36rem;
    margin: -6rem -8rem;
    align-self: center;
}

@media (max-width:480px) {
    .fir-app-home-top-logo {
        width: 40rem;
        height: 30rem;
    }
}

.fir-app-home-form {
    display: flex;
    flex-direction: column;
    /*margin-top: auto;*/
    margin-bottom: auto;
}

.fir-button.fir-app-home-button {
    margin-bottom: 3rem;
    border-bottom: 0.4rem solid #C65252 !important;
}

