.fir-app-home {
    flex: 1;
    background-color: #4751C0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fir-app-home-container {
    display: flex;
    flex-direction: column;
}

.fir-app-home-top_text {
    font-weight: 700;
    font-size: 3rem;
    color: white;
    text-align: center;
}

.fir-app-home-logo {
    width: 45rem;
    height: 30rem;
    margin-top: -4rem;
    margin-bottom: -6rem;
}

