.fir-progress-line {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fir-progress-line-visual {
    position: relative;
    height: 0.3rem;
    width: 100%;
    margin-top: 1.5rem;
}

.fir-progress-line-visual > div{
    border-radius: 1.3rem;
    height: inherit;
}

.fir-progress-line-visual-active {
    position: absolute;
    background-color: #FF7878;
}

.fir-progress-line-visual-passive {
    background-color: #DBDEFF;
}
