.fir-app-result {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4751C0;
}

.fir-container.fir-app-result-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media (max-width:960px) {
    .fir-container.fir-app-result-container {
        display: flex;
        justify-content: center;
        height: 100%;
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding: 0;
    }
}

.fir-app-result-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.fir-app-result-title > span {
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
}

.fir-app-result-title .fir-progress-numbers-amount {
    color: white;
}

.fir-app-result-avatar {
    width: 4rem;
    height: 4rem;
}

.fir-app-result-answers {
    margin-top: 2rem;
}


