.fir-select-container {
    display: flex;
    position: relative;
}

.fir-select {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex: 1;
    /* hide default dropdown icon for Firefox */
    -moz-appearance: none;
    /* hide default dropdown icon for Chrome */
    -webkit-appearance: none;
}

/* hide default dropdown icon for IE10 */
.fir-select::-ms-expand {
    display: none;
}

.fir-select-value {
    flex: 1;
    font-weight: 500;
    font-size: 1.1rem;
}

.fir-select-icon {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.fir-select-options {
    position: absolute;
    top: 4.6rem;
    left: 0;
    right: 0;
    border-radius: 1rem;
}

.fir-select-options-item {
    color: white;
    height: 4.6rem;
    display: flex;
    align-items: center;
    background: #424A9E;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
