.fir-stars-score {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

.fir-stars-score-star {
    display: flex;
    margin: 0.1rem;
    height: 2rem;
    width: 2rem;
}
