.fir-button {
    height: 5.5rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    background: linear-gradient(90deg, #FFA67A 0%, #FF6065 100%);
    border-radius: 0.8rem;
    color: white;
    border-width: 0;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
