.fir-result-answer {
    display: flex;
    border-radius: 0.9rem;
    color: #464FAC;
    padding: 1rem 1.4rem 1rem 2rem;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-right: -6rem;
    margin-left: -6rem;
    min-height: 2.8rem;
}

@media (max-width:960px) {
    .fir-result-answer {
        margin-right: 0;
        margin-left: 0;
    }
}


.fir-result-answer span {
    flex: 1;
    font-weight: 500;
    margin-right: 2rem;

}

.fir-result-answer-mark {
    margin-left: 1rem;
}
