.fir-app-quiz {
    display: flex;
    flex: 1;
    justify-content: center;
    position: relative;
    height: inherit;
}

.fir-app-quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (max-width:480px) {
    .fir-container.fir-app-quiz-container {
        height: auto;
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding: 0;
    }
}

.fir-app-quiz-title {
    font-size: 4rem;
    color: #4953BE;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-align: center;
    margin-left: -6rem;
    margin-right: -6rem;
}


@media (max-width:960px) {
    .fir-app-quiz-title {
        margin-right: 0;
        margin-left: 0;
        margin-top: 1rem;
    }
}

.fir-app-quiz-level {
    font-size: 1.8rem;
    color: #4953BE;
    font-weight: 500;
    letter-spacing: 0.5em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: center;
}

.fir-app-quiz-question {
    font-size: 2rem;
    font-weight: 500;
    color: #4953BE;
    text-align: center;
    margin: 4rem -6rem;
}


@media (max-width: 960px) {
    .fir-app-quiz-question {
        margin-right: 0;
        margin-left: 0;
    }
}

.fir-app-quiz-button {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* specific selector needed to override common style */
.fir-app-quiz-button > .fir-app-quiz-button-true {
    background: #424A9E none;
    color: white;
}

.fir-app-quiz-button > .fir-app-quiz-button-false {
    background: white none;
    color: #4953BE;
    border: 0.15rem solid #4953BE;
}
