body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.fir-container {
  display: flex;
  flex-direction: column;
  width: 28rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fir-inputs {
  height: 4.6rem;
  background-color: transparent;
  border-radius: 0.6rem;
  border: 1px solid white;
  color: white;
  font-size: 1.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}
