.fir-progress-numbers {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.fir-progress-numbers span {
    font-weight: 700;
}

.fir-progress-numbers-value {
    font-size: 1.8rem;
    color: #FF7878;
}

.fir-progress-numbers-count {
    display: block;
    font-size: 1.2rem;
    color: #4953BE;
    /* fix font gap */
    margin-bottom: 4px;
}
